.menuitem {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.menuitem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuitem-sub {
    width: 100%;
    margin-top: 0.2rem;
}

.menuitem-sub p {
    color: white;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
}

.menuitem-name {
    flex: 1;
}

.menuitem-dash {
    width: 90px;
    height: 1px;
    background: rgb(211, 208, 177);
    margin: 0 1rem;
}

.menuitem-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menuitem-price p,
.menuitem-name p {
    font-family: 'Playfair Display', serif;
    color: rgb(211, 208, 177);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 23px;
}

@media screen and (max-width: 650px) {
    .menuitem-price p,
    .menuitem-name p {
        font-size: 14px;
    }
    .menuitem-sub p {
        font-size: 19px;
    }
}

@media screen and (max-width: 450px) {
    .menuitem-price p,
    .menuitem-name p {
        font-size: 18px;
    }
    .menuitem-sub p {
        font-size: 15px;
    }
}